# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Lidar_Analysis_PDL1/lidarAnalysis_PDL0
Lidar_Analysis_PDL1/lidarAnalysis_PDL1
Lidar_Analysis_PDL2/lidarAnalysis_PDL2

# IGNORING (MAINLY) AUGER STUFF...

.vscode/
git_upload.sh
markdown-cheat-sheet.md

# AUGER FILES AND FOLDERS
AugerLidarAnalysis/
root2NetCDF/
runAuger/
run_Auger_Analysis.sh
Lidar_Analysis_Interface/

# AUGER LIBRARIES
Lidar_Configuration_Files/analysisParameters_Auger*.conf
libLidar/libLidarROOT.hpp
libLidar/TLEventDict.cpp
libLidar/TLEventLinkDef.h
libLidar/TLEvent.h
libLidar/TLRunState.h
libLidar/TLRunStateLinkDef.h
libLidar/LicelData.h
libLidar/LPower.h
libLidar/CMolecularDataAuger.*


# LIDAR DATA PRODUCTS IGNORED DUE TO ITS SIZE
signalsTest/Brazil/Manaus/2011/10/17/LPP_OUT/17_L0.nc
signalsTest/Brazil/Manaus/2011/10/17/LPP_OUT/17_L0_L1.nc
