# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IGNORING (MAINLY) AUGER STUFF...

.vscode/
git_upload.sh
markdown-cheat-sheet.md

# AUGER FILES AND FOLDERS
AugerLidarAnalysis/
root2NetCDF/
runAuger/
run_Auger_Analysis.sh
Lidar_Analysis_Interface/

# AUGER LIBRARIES
Lidar_Configuration_Files/analysisParameters_Auger*.conf
libLidar/libLidarROOT.hpp
libLidar/TLEventDict.cpp
libLidar/TLEventLinkDef.h
libLidar/TLEvent.h
libLidar/TLRunState.h
libLidar/TLRunStateLinkDef.h
libLidar/LicelData.h
libLidar/LPower.h
libLidar/CMolecularDataAuger.*


# LIDAR DATA PRODUCTS IGNORED DUE TO ITS SIZE
*.nc
Lidar_Analysis_PDL0/lidarAnalysis_PDL0
Lidar_Analysis_PDL1/lidarAnalysis_PDL1
Lidar_Analysis_PDL2/lidarAnalysis_PDL2

# TEST DEVELOPMENT FILES
*_test.conf
*_test.sh

analysisParameters_PDL0_Pilar_2009_AgoSep.conf
analysisParameters_PDL1_2_Pilar_2009_AgoSep.conf

analysisParameters_PDL0_Argentina.conf
analysisParameters_PDL1_2_Argentina.conf
analysisParameters_PDL0_Argentina_GUI.conf
analysisParameters_PDL1_2_Argentina_GUI.conf

analysisParameters_PDL0_Brazil.conf
analysisParameters_PDL1_2_Brazil.conf
analysisParameters_PDL0_Brazil_GUI.conf
analysisParameters_PDL1_2_Brazil_GUI.conf

analysisParameters_PDL0_Hector.conf
analysisParameters_PDL1_2_Hector.conf

analysisParameters_PDL0_Holger.conf
analysisParameters_PDL1_2_Holger.conf

