# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IGNORING (MAINLY) AUGER STUFF...

.vscode/
git_upload.sh
markdown-cheat-sheet.md

# AUGER FILES AND FOLDERS
AugerLidarAnalysis/
root2NetCDF/
runAuger/
run_Auger_Analysis.sh
Lidar_Analysis_Interface/

# AUGER LIBRARIES
Lidar_Configuration_Files/analysisParameters_Auger*.conf
libLidar/libLidarROOT.hpp
libLidar/TLEventDict.cpp
libLidar/TLEventLinkDef.h
libLidar/TLEvent.h
libLidar/TLRunState.h
libLidar/TLRunStateLinkDef.h
libLidar/LicelData.h
libLidar/LPower.h
libLidar/CMolecularDataAuger.*


# LIDAR DATA PRODUCTS IGNORED DUE TO ITS SIZE
*.nc
Lidar_Analysis_PDL0/lpp0
Lidar_Analysis_PDL1/lpp1
Lidar_Analysis_PDL2/lpp2

# TEST DEVELOPMENT FILES
*_test.conf
*_test.sh

analysisParameters_Pilar_2009_AgoSep.conf
analysisParameters_PDL0_Pilar_2009_AgoSep.conf
analysisParameters_PDL1_2_Pilar_2009_AgoSep.conf

Lidar_Configuration_Files/analysisParameters_PDL0_Argentina.conf
Lidar_Configuration_Files/analysisParameters_PDL1_2_Argentina.conf
Lidar_Configuration_Files/analysisParameters_PDL0_Argentina_GUI.conf
Lidar_Configuration_Files/analysisParameters_PDL1_2_Argentina_GUI.conf

Lidar_Configuration_Files/analysisParameters_PDL0_Brazil.conf
Lidar_Configuration_Files/analysisParameters_PDL1_2_Brazil.conf
Lidar_Configuration_Files/analysisParameters_PDL0_Brazil_GUI.conf
Lidar_Configuration_Files/analysisParameters_PDL1_2_Brazil_GUI.conf

Lidar_Configuration_Files/analysisParameters_Hector.conf
Lidar_Configuration_Files/analysisParameters_PDL0_Hector.conf
Lidar_Configuration_Files/analysisParameters_PDL1_2_Hector.conf

Lidar_Configuration_Files/analysisParameters_PDL0_Holger.conf
Lidar_Configuration_Files/analysisParameters_PDL1_2_Holger.conf

Lidar_Configuration_Files/LPP_Settings_GUI.sh
Lidar_Analysis_PDL1/MolData/rad_SP_20200914.csv
Lidar_Configuration_Files/analysisParameters_SPU_PAPER.conf
Lidar_Configuration_Files/analysisParameters_Manaus_PAPER_L1.conf
Lidar_Configuration_Files/analysisParameters_Manaus_PAPER_L2.conf
Lidar_Configuration_Files/analysisParameters_SPU_PAPER_L2.conf
LPP_Python_Plots/test.py
LPP_Python_Plots/__pycache__/python_colormap.cpython-38.pyc
Lidar_Configuration_Files/analysisParameters_Granada.conf
Lidar_Analysis_PDL0/RM2321409.292323
text_Next_Release.txt
Lidar_Configuration_Files/analysisParameters_SPU_PaperComparison.conf
Lidar_Configuration_Files/analysisParameters_SPU_2017_09_04_dt.conf
Lidar_Configuration_Files/analysisParameters_SPU_2017_09_25_nt.conf
Lidar_Configuration_Files/analysisParameters_SPU_2017_09_04_nt.conf
Lidar_Configuration_Files/analysisParameters_SPU_2017_09_28_dt.conf
